.nav-tabs{
    float:left;
    width:100%;
    margin:0;
    list-style-type: none;
    border-bottom:1px solid #ddd;
}

.nav-tabs > li {
    float:left;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.5;
    padding:10px;
    border: 1px solid transparent;
    border-radius:  4px 4px 0 0;
    text-decoration: none;
}

.nav-tabs > li > a:hover{
    border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color:#555;
    cursor:default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.tab-content > .tab-pane{
    float: left;
    width:100%;
    display:none;
}

.tab-content > .tab-pane.active{
    padding: 10px;
    display:block;
    background-color: #fff;
    box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.15);
}
.boutique-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.boutique-field-container{
    display: flex;
    flex-direction: column;
    width: 24%;
}

.boutique-save{
    margin:15px;
}



/* SLIDER */
#slider-body{
background-color: rgb(221, 220, 220);
}
#slider-body h2{
    font-size: x-large;
}
#slider-body p{
    font-size: medium;
}

#slider-body legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}
#form_add {
    width: 50%;
    margin: 20px auto 10px 20px;

}
#form_add label{
    display: inline-block;
    width: 150px;
}

#form_delete{
    text-align: center;
}
.slider-input{
    width:100px;
    line-height:20px;
    background-color:  rgba(233, 2, 2, 0.678);
    border: 2px solid black;
    border-radius: 5px;
    color: white;
}
.slider-input:hover{
    background-color:  rgb(255, 0, 0);
}
.slider-input-delete{
    width: auto;
    bottom: 0;
    position: absolute;
    right: 0;
}
.slider-display{
    display: inline-block;
    border:3px solid black;
    margin:10px 5px;
    height:300px;
    width:30%;
    overflow:hidden;
    position:relative;
    box-shadow: 4px 4px 4px 0px rgba(204, 10, 10, 0.815);
    text-align: center;
    padding: 0 5px 0 5px;
}
.slider-display p{
    vertical-align: top;
    padding:5px 5px;
    margin: 0px;
}
.slider-display button{
    text-align: center;
}

.slider-image{
    width: 100%;
    max-height: 50%;
}

